// -------------
// hud parameters
// -------------

$hud_margin:2.6%;
// $icon_size:100%; // Not used yet
// $text_size:100%; // Not used yet


// -------------
// hud styles
// -------------

.hud{
    pointer-events:none;
    cursor: url("../../data/ui/cursor_target.png") 16 16, auto;

    p{
        margin:0;
        font-family:"bungee";
    }
    .hudInfo{
        position: absolute;
        top:0;
        height:100%;
        width:100%;
        pointer-events:auto;
    }

// BLOC TOP
    .top{
        width:calc(100% - 2 * #{$hud_margin});
        margin:$hud_margin;
        position:relative;
        
        [class^=infoBloc]{
            position: absolute;
            max-width:300px;
        }

        .infoBloc-1{
            position: absolute;
            top:0;
            left:0;
            display:flex;
            height:27px;
            width:150px;

            .life, .timer{
                width:50%;
            }
            .life{
                position: relative;
                display: flex;
                align-items: center;
            }
            .life .imgLife{
                background: url("../../data/ui/hud/icon_life.svg") center no-repeat;
                width:12.17px;
                height:37px;
            }
            .life p{
                position:absolute;
                left:25px;
                color:#07ef00;
                font-size: 0.95em;
            }

            .timer{
                position: relative;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .timer .imgTimer{
                background: url("../../data/ui/hud/icon_timer.svg") center no-repeat;
                width:20px;
                height:20px;
            }
            .timer p{
                position:absolute;
                left:30px;
                color:#07ef00;
                font-size: 0.95em;
            }
        }

        .infoBloc-2{
            left:0;
            right:0;
            margin:calc(#{-$hud_margin} - 0.2%) auto 0 auto;
            text-align: center;

            .levelNumber{
                transform: translateY(-15px);
            }
            .levelNumber .imgLevelNumber{
                border-image: url('../../data/ui/button_off.svg') stretch;
                border-image-slice: 35% fill;
                border-image-width: 50px;
                width:60px;
                height:50px;
                margin:0 auto;
            }
            .levelNumber p{
                position: absolute;
                top:60%;
                left:50%;
                transform: translate(-50%, -50%);
                color:#07ef00;
                font-size: 1.2em;
            }
        }

        .infoBloc-3{
            top:0;
            right:0;

            .buttonPause{
                pointer-events:auto;
                padding:0 0 15px 15px;
                display: flex;
                align-items: center;
                transition:all 0.15s ease;
                cursor:pointer;
            }
            .buttonPause:hover{
                transform: scale(1.2);
            }
            .buttonPause:active{
                transform: scale(1);
                filter:brightness(75%);
            }
            .buttonPause .imgButtonPause{
                background: url("../../data/ui/hud/button_pause.svg") center no-repeat;
                width:19px;
                height:20px;
            }
        }
    }

    .bottom{
        position: absolute;
        bottom:0;
        margin:$hud_margin;
        .infoBloc-1{

            .imgButtonBooster{
                background: url("../../data/ui/hud/button_booster_off.svg") center no-repeat;
                width:100px;
                height:100px;
                cursor:pointer;
            }
            .imgButtonBooster:active{
                background: url("../../data/ui/hud/button_booster_on.svg") center no-repeat;
            }
        }
    }

    // GAME OVER
    .gameOver{
        pointer-events: none;
        position:absolute;
        display:none;
        top:0;
        left:0;
        width:100%;
        height:100%;
        z-index: 3;
        .backgroundFilter{
            position:absolute;
            top:0;
            left:0;
            width:100%;
            height:100%;
            backdrop-filter:brightness(80%) grayscale(40%);
            
            animation: 2s ease opacityIn;
            animation-fill-mode: forwards;
            opacity: 0;
        }
        h1{
            position: absolute;
            width:90%;
            top:35%;
            transform: translateY(-50%);
            left:0;
            right:0;
            margin:0 auto;
            text-align: center;
            color:#07ef00;
            font-size: 5em;
            z-index: 4;

            animation: 1.5s ease scaleOpInOut;
            animation-delay: 0.25s;
            animation-fill-mode: forwards;
            opacity: 0;
        }
    }

    // PAUSE
    .hudInfo{
        z-index: 1;
    }
    .pauseMenu{
        display:none;
        pointer-events:none;
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background: rgba($color: #07ef00, $alpha: 0.05);
        backdrop-filter:brightness(60%);
        z-index: 2;

        .window{
            pointer-events: auto;
            position: absolute;
            top:50%;
            transform: translateY(-50%);
            left: 0;
            right:0;
            width:225px;
            height:240px;
            margin:0 auto;
            text-align: center;
            border-image: url('../../data/ui/panel/panel_01.svg') stretch;
            border-image-slice: 49.5% fill;
            border-image-width: 250px;
        }
        .content{
            position: relative;
            margin:0;
            height:100%;
        }
        h3{
            position: absolute;
            top:50px;
            left:0;
            right:0;
            margin:0 auto;
            color:#07ef00;
            font-size: 1.6em;
        }

        ul{
            position: absolute;
            padding:0;
            top:65%;
            transform: translateY(-50%);
            left:0;
            right:0;
            margin:0 auto;
        }
        li{
            margin:10% 0;
            cursor: pointer;
        }
        li p{
            font-size: 0.95em;
            transition: all ease 0.1s;
        }
        li p:hover{
            letter-spacing: 1px;
            color:#07ef00;
        }
        li p:active{
            color:#06b900;
        }
    }

    // Tutorial
    .tutoPanel{
        z-index:2;
        pointer-events: auto;
        position: absolute;
        width:100%;
        height:100%;
        // display:flex;
        display:none;
        justify-content: center;
        align-items: center;
        backdrop-filter:brightness(60%);
        cursor: default;

        .window{
            position: absolute;
            width:450px;
            height:480px;
            border-image: url('../../data/ui/panel/panel_menu.svg') stretch;
            border-image-slice: 49.5% fill;
            border-image-width: 250px;
        }

        h3{
            position: absolute;
            margin:0;
            top:15px;
            left:0;
            right:0;
            text-align: center;
            color:#036000;
            font-size: 1.5em;
        }
        .content{
            position: absolute;
            top:20%;
            left:0;
            right:0;
            margin:0 auto;
            width:85%;
            p{
                line-height: 1.1em;
            }


            .forWin p{
                color:#07ef00;
                text-align: center;
            }

            .controls{
                width:100%;
                ul{
                    margin: 15% 0 0 0;
                    padding:0;
                    display: flex;
                    justify-content: space-between;
                }
                li{
                    position: relative;
                    height:130px;
                    width:32%;
                }
                li p{
                    text-align: center;
                    color:#07ef00;
                    font-size: 0.85em;

                }
                .iconImg{
                    position: absolute;
                    bottom:0;
                    width:100%;
                    height:50px;
                    
                }
                ul li:nth-child(1) .iconImg{
                    background: url("../../data/ui/tutorial/icon_spacebar.svg") center no-repeat;
                    background-size: 65%;
                }
                ul li:nth-child(2) .iconImg{
                    background: url("../../data/ui/tutorial/icon_leftClick.svg") center no-repeat;
                }
                ul li:nth-child(3) .iconImg{
                    background: url("../../data/ui/tutorial/icon_moveMouse.svg") center no-repeat;
                }
            }
        }
        .button{
            position:absolute;
            width:90px;
            height:50px;
            bottom:8%;
            left:0;
            right:0;
            margin:0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            border-image: url('../../data/ui/button_menu.svg') stretch;
            border-image-slice: 49.9% fill;
            border-image-width: 17px;
            cursor: pointer;
            border-radius: 20px;
            transition:all 0.15s ease;
        }
        .button:hover{
            background-color: rgba($color: #07ef00, $alpha: 0.2);
            transform: scale(1.1);
        }
        .button:active{
            filter:brightness(0.8);
            transform: scale(1);
        }
        .button p{
            color:#07ef00;
            font-size: 1.35em;
        }

    }

    // ANIMATIONS
    @keyframes opacityIn {
        0% {
            opacity:0;
        }
        25% {
            opacity:1;
        }
        75% {
            opacity:1;
        }
        100% {
            opacity:0;
        }
    }

    @keyframes scaleOpInOut {
        0% {
            transform: scale(0.5);
            opacity:0;
        }
        25% {
            transform: scale(1);
            opacity:1;
        }
        75% {
            transform: scale(1);
            opacity:1;
        }
        100% {
            transform: scale(0.5);
            opacity:0;
        }
    }
}
