
.mainMenu{
    h1, p{
        line-height: 0.79em;
    }
    h1{
        position: absolute;
        margin:0;
        right:0;
        left:0;
        top:12.5%;
        text-align: center;
        color:#07ef00;
        font-size: 4em;
    }
    ul{
        position: relative;
        text-align: center;
        margin:0 auto;
        padding:0;
        top:50%;
        transform: translateY(-50%);
        max-width:500px;

    }
    li{
        margin:35px 0;
        cursor:pointer;
    }
    li:last-child{
        margin-top:70px;
    }
    li p{
        display: inline-block;
        margin:0;
        font-size: 170%;
        
    }

    .fullScreenButton{
        position: absolute;
        top:4.6%;
        left:2.6%;
        width:20px;
        height:20px;
        background: url("../../data/ui/icon_fullScreen.svg") top left no-repeat;
        background-size: 100%;
        cursor:pointer;
    }
    .fullScreenButton:hover{
        filter:invert(61%) sepia(93%) saturate(3099%) hue-rotate(78deg) brightness(200%) contrast(122%);
    }

    .FFLogo{
        position:absolute;
        bottom:4.6%;
        right:2.6%;
        height:60px;
        width:200px;
        background: url("../../data/ui/firefalcom_logo.svg") bottom no-repeat;
        background-size: 100%;
    }
}
