
.mainMenu{
    h1{
        position: absolute;
        margin:0;
        right:0;
        left:0;
        top:12.5%;
        text-align: center;
        color:#07ef00;
        font-size: 4em;
    }
    ul{
        position: relative;
        text-align: center;
        margin:0 auto;
        padding:0;
        top:50%;
        transform: translateY(-50%);
        max-width:500px;

    }
    li{
        margin:35px 0;
        cursor:pointer;
    }
    li p{
        display: inline-block;
        margin:0;
        
    }
    .play{
        padding:20px 40px;
        border-image: url('../../data/ui/button_menu.svg') stretch;
        border-image-slice: 49.9% fill;
        border-image-width: 20px;
        color:#07ef00;
        font-size: 2.25em;
        border-radius:30px;
        transform: rotate(0deg);
        transition: all 0.25s ease;

        animation: 2s ease tremb;
        animation-delay: 1s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;

    }
    .play:hover{
        background-color:rgba(7, 239, 0, 0.2);
        transform: rotate(0deg);
        animation-iteration-count: 0;
    }
    .play:active{
        filter:brightness(70%);
        font-size: 2em;
    }

    .fullScreenButton{
        position: absolute;
        top:4.6%;
        left:2.6%;
        width:20px;
        height:20px;
        background: url("../../data/ui/icon_fullScreen_on.svg") center no-repeat;
        background-size: 100%;
        cursor:pointer;
        transition: all ease 0.05s;
    }

    .fullScreenButton:hover{
        filter:invert(61%) sepia(93%) saturate(3099%) hue-rotate(78deg) brightness(200%) contrast(122%);
    }
    .fullScreenButton:active{
        background-size: 90%;
        filter:invert(61%) sepia(93%) saturate(3099%) hue-rotate(78deg) brightness(125%) contrast(122%);
    }

    .fFLogo{
        position:absolute;
        bottom:4.6%;
        right:2.6%;
        height:60px;
        width:200px;
        background: url("../../data/ui/firefalcom_logo.svg") bottom no-repeat;
        background-size: 100%;
    }

    @keyframes tremb {
        0% {
            transform: rotate(0deg);
        }
        5% {
            transform: rotate(-3deg);
        }
        10% {
            transform: rotate(3deg);
        }
        15% {
            transform: rotate(0deg);
        }
    }
}
