.win{
    background-color: rgba($color: #000000, $alpha: 0.4);
    text-align: center;

    h1, p{
        font-family: "bungee";
    }
    h1{
        color:#07ef00;
        font-size: 4.5em;
        text-align: center;
        margin: 0 auto;
    }

    h1, .window, .LevelNumber, .blocTitle, .starsArea, .gameData, .buttons, .buttons p{
        position: absolute;
        left:0;
        right:0;
        margin:0 auto;
    }
    .window{
        width:400px;
        height:410px;
        margin:0 auto;
        bottom:17.5%;
        border-image: url('../../data/ui/panel/panel_01.svg') stretch;
        border-image-slice: 49.5% fill;
        border-image-width: 250px;
    }

    .LevelNumber{
        display:block;
        position:absolute;
        margin:0;
        color:#05a700;
        font-size: 1.5em;
        transform:translate(-50%, -50%);
        top:5%;
        left:50%;
    }
    .blocTitle{
        margin:0;
        top:12.5%;
        font-size:1.8em;
        color:#07ef00;
    }

    /* STARS */
    .starsArea{
        height:90px;
        width:100%;
        top:32.5%;
    }
    .star, .starSlot{
        position:absolute;
        width:100%;

        ul{
            position:relative;
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin:0;
            padding:0 60px;
        }
        li{
            width:75px;
            height:75px;
        }
        li:nth-child(2){
            width:90px;
            height:90px;
        }
    }
    .star{
        li{
            background:url("../../data/ui/star-won.png") center no-repeat;
            background-size: 100%;
        }
        li:nth-child(1){
            opacity:1;
        }
        li:nth-child(2){
            opacity:1;
        }
        li:nth-child(3){
            opacity:0;
        }
    }
    .starSlot{
        li{
            background:url("../../data/ui/star-slot.png") center no-repeat;
            background-size: 100%;
        }
    }

    /* DATA */
    .gameData{
        position: absolute;
        width:60%;
        bottom:7%;

        [class^=line]{
            display: flex;
            justify-content: space-between;
            font-size:0.85em;
            letter-spacing: 1px;
        }
        [class^=line]:last-child{
            margin:15px 0;
            font-size:1.5em;
        }
        p{
            line-height: 0;
        }
    }

    /* BUTTONS */
    .buttons{
        bottom:5%;
        p{
            margin: 0;
            color:#0ad803;
            font-size: 1.1em;
        }
        ul{
            padding:0;
            display: flex;
            justify-content: space-between;
            width:25%;
            margin:0 auto;
        }
        li{
            position: relative;
            width: 110px;
            height:45px;
            border-image: url('../../data/ui/button_off.svg') stretch;  // When mouse hover use "button_on.svg" and change color text/icon by #023c00
            border-image-slice: 35% fill;
            border-image-width: 50px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        li:nth-child(2){
            width:65px;
        }
        .imgLvlProg{
            position: absolute;
            top:0;
            width:100%;
            height:100%;
            background:url("../../data/ui/icon_levelProgress_off.svg") center no-repeat; // When mouse hover use "icon_levelProgress_on"
            background-size: 40%;
        }
    }
}
